main{
    padding: 57px 50px;
    color: white;
    max-width: 650px;
    margin: 40px 180px;
  }
  .Title{
      margin-top:0px;
      font-family: Inter;
      font-weight: 700;
      font-size: 50px;
      letter-spacing: -0.05em;;
  }
  
  .list{
      padding-top: 15px;
  }
  
  li{
      font-family: 'Inter';
      font-weight: 400;
      font-size: 20px;
      padding-block: 10px;
  }